################################################################
# This ignores files without an extension (e.x. C++ binaries)
# Ignore all
*

# Unignore all with extensions
!*.*

# Unignore all dirs
!*/
################################################################

# Ignore all directories that store datafiles
**/Data

test.cpp

**/Eigen

# Ignore short rate datasets
FED*
Delta and Gamma Hedging/.vscode/settings.json
Delta and Gamma Hedging/SQLite_test.db
Delta and Gamma Hedging/SQLite_test.sql
Delta and Gamma Hedging/SQLite_test.txt
Delta and Gamma Hedging/test.db
.gitignore
Delta and Gamma Hedging/chinook.db
Options Pricing/annealing_practice.cpp
